version: '3.8'
services:
  php_apache_environment:
    container_name: php-apache
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy  # Espera o MySQL estar pronto
    networks:
      - app-network
      
  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: BoiDataBase
      MYSQL_DATABASE: registro_carros
      MYSQL_PASSWORD: BoiDataBase
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql  # Persiste os dados
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:  # Volume para persistir dados do MySQL